nav {
    width: 100%;
    height: 70px;
    background-color: dimgray;
    padding-top: 5px;
    box-sizing: border-box;
}
ul {
    display: flex;
}
li {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

body {
    background: #ECEBCD;
}

.twitter-timeline {
    /* width: 300px;
    height: 300px; */
}

.timeline {
    max-width: 40%;
    border: 1px solid #333;
    padding: 10px;
}

/* 付箋の輪郭設定 */
.trapezoid {
    position: relative;
    width: 300px;
    height: 50px;
    /* background-color: #ff2828; */
    /* polygon(左上X Y, 右上X Y, 右下X Y, 左下X Y) */
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    /* box-shadow: 2px 2px 4px -2px gray inset; */
    /* box-shadow: 10px 10px #000000; */
}

.trapezoid-shadow {
    filter: drop-shadow(20px 20px 4px rgba(0, 0, 0, 40%));
}

.trapezoid-red {
    background-color: #F18B8B;
}

.trapezoid-yellow {
    background-color: #F1EF8B;
}

.trapezoid-green {
    background-color: #8BF1B9;
}

.trapezoid-lightblue {
    background-color: #8BD6F1;
}

.trapezoid-blue {
    background-color: #8BADF1;
}
