nav {
    width: 100%;
    height: 70px;
    background-color: dimgray;
    padding-top: 5px;
    box-sizing: border-box;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

body {
    background: #ECEBCD;
    /* Grid設定 */
    display: grid;
    grid-template-columns: 15% 10% 75%;
    grid-template-rows: 130px auto 86px;
    min-height: 100vh;
}

/* Twitter */
/* .twitter-timeline {
    width: 300px;
    height: 300px;
} */

.timeline {
    position: relative;
    max-width: 100%;
    /* border: 1px solid #333; */
    /* padding: 10px; */
}

/* 付箋の輪郭設定 */
.trapezoid {
    position: relative;
    width: 250px;
    height: 50px;
    /* background-color: #ff2828; */
    /* polygon(左上X Y, 右上X Y, 右下X Y, 左下X Y) */
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    /* box-shadow: 2px 2px 4px -2px gray inset; */
    /* box-shadow: 10px 10px #000000; */
}

.trapezoid-shadow {
    filter: drop-shadow(20px 20px 4px rgba(0, 0, 0, 40%));
}

.trapezoid-red {
    background-color: #F18B8B;
}

.trapezoid-yellow {
    background-color: #F1EF8B;
}

.trapezoid-green {
    background-color: #8BF1B9;
}

.trapezoid-lightblue {
    background-color: #8BD6F1;
}

.trapezoid-blue {
    background-color: #8BADF1;
}

/* ポジション系 */

/* アウトライン */
.PageTitle {
    /* background-color: #99ffff; */
    /* 子要素を中央に配置 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* グリッド */
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.NavigationMenu {
    /* background-color: #ff99ff; */
    /* グリッド */
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    /* タブの影がほかのグリッドに影響を及ぼすのを止める */
    overflow: hidden;
}

.LeftContent {
    /* background-color: #ffffff; */
    /* background-color: #ff99ff; */
    /* グリッド */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /* 子要素グリッド */
    display: grid;
    grid-template-columns: 3.5% auto 3.5%;
    grid-template-rows: 1fr;
}

.RightContent {
    /* background-color: #ffffff; */
    /* background-color: #99ff99; */
    /* グリッド */
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    /* 子要素グリッド */
    display: grid;
    grid-template-columns: auto 3.6%;
    grid-template-rows: 1fr;
}

/* header{
    margin-top: 0%;
    margin-left: 0%;
} */

/* フェードする画像 */
.ViewFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
}

/* .ViewFooter img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: auto 30%;
} */

.FeedFooter {
    /* 参考サイト */
    /* グラデーション作成 */
    /* https://front-end-tools.com/generateGradient/ */
    /* カラーコードからrgbaに変換 */
    /* https://arts-factory.net/rgbatool/ */
    height: 100%;
    width: 100%;
    /* ECEBCD */
    background-image: repeating-linear-gradient(0deg, rgba(236, 235, 205, 1), rgba(255, 255, 255, 0) );
}

/* コピーライトなど */
.SiteFooter {
    background-color: #999999;
    width: 100%;
    height: 100%;
    text-align: center;
    /* グリッド */
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

/* インライン */
.TitleText {
    /* background-color: #ff00ff; */
    /* position: relative;
    top: 2%;
    left: 7.6%;
    right: 7.6%;
    bottom: 2%; */
}

.Tabs {
    /* background-color: #ffffff; */
    position: relative;
    /* タブの高さ（領域の高さが同じになるようにしている） */
    --tabHeight: 50%;
    top: calc(100% - var(--tabHeight));
    height: var(--tabHeight);
    /* tabの下揃え */
    display: flex;
}

/* tabの下揃え */
.Tabs ul {
    /* 左右に余白ゼロ */
    padding: 0;
    /* 上下に余白ゼロ */
    margin: 0;
    /* 下揃え */
    align-items: flex-end;
}

.Abstraction {
    background-color: #0000ff;
    /* グリッド */
    grid-column: 2 / 3;
}

.MainContents {
    background-color: #ff00ff;
    /* グリッド */
    grid-column: 1 / 2;
}

.FooterText {
    background-color: #f0f00f;
    position: relative;
    top: 11.6%;
    /* left: 7.6%;
    right: 7.6%; */
    bottom: 11.6%;
    text-align: center;
}