:root {
    /* color */
    /* common */
    --color_clear_rgba: rgba(255, 255, 255, 0);
    /* release */
    /* --color_body: #ECEBCD;
    --color_body_rgba: rgba(236, 235, 205, 1);
    --color_PunchHole_shadow_body_rgba: var(--color_body_rgba);
    --color_PunchHole_shadow_mid_rgba: rgba(236, 235, 205, 0.5);
    --color_PunchHole_shadow_gray_rgba: transparent;
    --color_dropShadow_rgba: rgba(0, 0, 0, 0.4);
    --color_PunchHole_shadow_rgba: rgb(118, 117, 102);
    --color_pageTitle: #00000000;
    --color_NavigationMenu: #00000000;
    --color_LeftContent: #ffffff;
    --color_RightContent: transparent;
    --color_SiteFooter: transparent;
    --color_PageTitle_TitleText: transparent;
    --color_NavigationMenu_Tabs: transparent;
    --color_LeftContent_Abstraction: #ffffff;
    --color_RightContent_MainContents: #ffffff;
    --color_SiteFooter_FooterText: transparent;
    --color_LeftContent_Abstraction_PunchArea: transparent;
    --color_LeftContent_Abstraction_NoteArea: transparent; */
    /* debug */
    --color_body: #ECEBCD;
    --color_body_rgba: rgba(236, 235, 205, 1);
    --color_PunchHole_shadow_body_rgba: var(--color_body_rgba);
    --color_PunchHole_shadow_mid_rgba: rgba(236, 235, 205, 0.5);
    --color_PunchHole_shadow_gray_rgba: transparent;
    --color_PunchHole_shadow_rgba: rgb(118, 117, 102);
    --color_dropShadow_rgba: rgba(0, 0, 0, 0.4);
    --color_pageTitle: #99ffff;
    --color_NavigationMenu: #ff99ff;
    --color_LeftContent: #ff99ff;
    --color_RightContent: #99ff99;
    --color_SiteFooter: #999999;
    --color_PageTitle_TitleText: #ff00ff;
    --color_NavigationMenu_Tabs: #ffffff;
    --color_LeftContent_Abstraction: #0000ff;
    --color_RightContent_MainContents: #ff00ff;
    --color_SiteFooter_FooterText: #f0f00f;
    --color_LeftContent_Abstraction_PunchArea: #00ff00;
    --color_LeftContent_Abstraction_NoteArea: #00ffff;
}

nav {
    width: 100%;
    height: 70px;
    /* background-color: dimgray; */
    padding-top: 5px;
    box-sizing: border-box;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    /* color: white; */
    margin-right: 35px;
}

/* Twitter */
/* .twitter-timeline {
    width: 300px;
    height: 300px;
} */

.timeline {
    position: relative;
    max-width: 100%;
    /* border: 1px solid #333; */
    /* padding: 10px; */
}

/* 付箋の輪郭設定 */
.trapezoid {
    position: relative;
    width: 250px;
    height: 50px;
    /* background-color: #ff2828; */
    /* polygon(左上X Y, 右上X Y, 右下X Y, 左下X Y) */
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    /* box-shadow: 2px 2px 4px -2px gray inset; */
    /* box-shadow: 10px 10px #000000; */
}

.note-shadow {
    filter: drop-shadow(20px 20px 4px var(--color_dropShadow_rgba));
}

.trapezoid-shadow {
    filter: drop-shadow(20px 20px 4px var(--color_dropShadow_rgba));
}

.trapezoid-red {
    background-color: #F18B8B;
}

.trapezoid-yellow {
    background-color: #F1EF8B;
}

.trapezoid-green {
    background-color: #8BF1B9;
}

.trapezoid-lightblue {
    background-color: #8BD6F1;
}

.trapezoid-blue {
    background-color: #8BADF1;
}

.PunchHole {
    --test: 30px;
    position: relative;
    /* left: calc(var(--test)/2); */
    margin: 20px;
    /* top: 30px; */
    width: var(--test);
    height: var(--test);
    background-color: var(--color_PunchHole_shadow_rgba);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-image: radial-gradient(circle at 40px 40px, var(--color_PunchHole_shadow_body_rgba) 40%, var(--color_PunchHole_shadow_mid_rgba) 50%, var(--color_PunchHole_shadow_gray_rgba) 60%);
}

.PunchHoleImg {
    --test: 30px;
    position: relative;
    /* left: calc(var(--test)/2); */
    /* top: 30px; */
    /* margin: 10px; */
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: var(--test);
    height: var(--test);
}

/* ポジション系 */

/* アウトライン */
body {
    background: var(--color_body);
    /* Grid設定 */
    display: grid;
    grid-template-columns: 15% 10% 75%;
    grid-template-rows: 130px auto 86px;
    min-height: 100vh;
}

.PageTitle {
    background-color: var(--color_pageTitle);
    /* 子要素を中央に配置 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* グリッド */
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.NavigationMenu {
    background-color: var(--color_NavigationMenu);
    /* グリッド */
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    /* タブの影がほかのグリッドに影響を及ぼすのを止める */
    overflow: hidden;
    /* 子要素グリッド */
    display: grid;
    /* grid-template-columns: auto 20rem; */
    /* grid-template-rows: 20px auto 20px; */
}

.NavigationMenu_Tabs {
    background-color: var(--color_NavigationMenu_Tabs);
    position: relative;
    /* タブの高さ（領域の高さが同じになるようにしている） */
    --tabHeight: 50%;
    top: calc(100% - var(--tabHeight));
    height: var(--tabHeight);
    /* tabの下揃え */
    display: flex;
    /* グリッド */
    /* grid-row: 1 / 2; */
    /* grid-column: 1 / 2; */
}

/* tabの下揃え */
.NavigationMenu_Tabs ul {
    /* 左右に余白ゼロ */
    padding: 0;
    /* 上下に余白ゼロ */
    margin: 0;
    /* 下揃え */
    align-items: flex-end;
}

.LeftContent {
    background-color: var(--color_LeftContent);
    /* グリッド */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /* 子要素グリッド */
    display: grid;
    grid-template-columns: 3.5% auto 3.5%;
    grid-template-rows: auto 1fr;
    /* タブの影がほかのグリッドに影響を及ぼすのを止める */
    overflow: hidden;
}

.LeftContent_Abstraction {
    background-color: var(--color_LeftContent_Abstraction);
    /* グリッド */
    grid-column: 2 / 3;
    /* 子要素グリッド */
    display: grid;
    grid-template-columns: auto auto 20px;
    grid-template-rows: 20px auto 20px;
}

.LeftContent_Abstraction_PunchArea {
    background-color: var(--color_LeftContent_Abstraction_PunchArea);
    /* グリッド */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.LeftContent_Abstraction_NoteArea {
    background-color: var(--color_LeftContent_Abstraction_NoteArea);
    /* グリッド */
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.RightContent {
    background-color: var(--color_RightContent);
    /* グリッド */
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    /* 子要素グリッド */
    display: grid;
    grid-template-columns: auto 3.6%;
    grid-template-rows: 1fr;
    /* タブの影がほかのグリッドに影響を及ぼすのを止める */
    overflow: hidden;


    /* マスクを使って中央に丸い穴をあける */
    /* -webkit-mask-image: radial-gradient(circle, transparent 100px, black 0);
    mask-image: radial-gradient(circle, transparent 100px, black 0); */
}

.RightContent_MainContents {
    background-color: var(--color_RightContent_MainContents);
    /* グリッド */
    grid-column: 1 / 2;
}

/* header{
    margin-top: 0%;
    margin-left: 0%;
} */

/* フェードする画像 */
.ViewFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
}

/* .ViewFooter img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: auto 30%;
} */

.FeedFooter {
    /* 参考サイト */
    /* グラデーション作成 */
    /* https://front-end-tools.com/generateGradient/ */
    /* カラーコードからrgbaに変換 */
    /* https://arts-factory.net/rgbatool/ */
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(0deg, var(--color_body_rgba), var(--color_clear_rgba));
}

/* コピーライトなど */
.SiteFooter {
    background-color: var(--color_SiteFooter);
    width: 100%;
    height: 100%;
    text-align: center;
    /* グリッド */
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.SiteFooter_FooterText {
    background-color: var(--color_SiteFooter_FooterText);
    position: relative;
    top: 11.6%;
    /* left: 7.6%;
    right: 7.6%; */
    bottom: 11.6%;
    text-align: center;
}